@font-face {
    font-family: "digi-bold";
    src: url(./fonts/ds_digital/DS-DIGIB.TTF);
}

:root {
    color-scheme: dark;
    --primary-colour: #4e4d4d;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    color: var(--primary-colour);
}

#countdown {
    text-align: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#clock,
#timer {
    font-size: 8em;
    font-family: 'digi-bold', 'Courier New', Courier, monospace;
}

#clock {
    font-size: 3em;
}

#currentDate,
#dayOfWeek {
    font-family: 'digi-bold', 'Courier New', Courier, monospace;
}

#timer-settings {
    column-gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

button {
    width: 60px;
    text-transform: uppercase;
    color: #fefefe;
    font-family: sans-serif, 'Courier New', Courier, monospace;
    border-radius: 50%;
    outline: none;
    border: none;
    height: 60px;
}

#start-btn {
    background: #009688;
}

#break-btn {
    background: #F44336;
}

#clcok-block {
    width: calc(100% - 62px);
    padding: 20px 20px 0px;
    border: 2px solid black;
    border-radius: 20px;
}

.row1 {
    border-bottom: 1px dotted black;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.row2 {
    padding-top: 10px;
}

i.bi {
    font-size: 40px;
}